@import "parts/common/all";
@import "parts/productcommon/all";

#downloadBody 
{
    background: #FFFFFF none;
}

#dlmInstructions 
{
    margin: 0;
    padding: 20px 20px 10px 20px;
    }

#dlmInstructions img.queuedProduct
{
    float: left;
    margin: 0 20px;
}

#deviceNameForm 
{
    margin: 34px 0;}
   
#deviceNameForm label 
{
    display: block;
    font: bold 16px/20px 'PT Sans', Arial, Sane Serif;
    color: #696969;}
   
#deviceNameForm input[type="text"] 
{
    color: #989898;
    font: bold 16px/20px 'PT Sans', Arial, Sane Serif;
    border: 1px solid #8e9092;
    height: 34px;
    padding-left: 8px;
    margin: 2px 0;
    width: 270px;}

ol#download-flow 
{
    clear: both;
    text-align: center;}
    
ol#download-flow li 
{
    display: inline-block;
    height: 115px;
    width: 154px;
    margin: 20px 20px 0 20px;
    background: url('../Assets/download-flow.png') no-repeat -39px 0;
    line-height: 345px;
    overflow: hidden;
}


ol#download-flow li#Step1
{
    background: url('../Assets/download-flow.png') no-repeat -39px -230px;
}

ol#download-flow li#Step1.active
{
    background: url('../Assets/download-flow.png') no-repeat -39px -115px;
}

ol#download-flow li#Step2
{
    background: url('../Assets/download-flow.png') no-repeat -214px 0;
}

ol#download-flow li#Step2.active
{
    background: url('../Assets/download-flow.png') no-repeat -214px -230px;
}

ol#download-flow li#Step3
{
    background: url('../Assets/download-flow.png') no-repeat -392px 0;
}

#dlmAppContainer 
{
    text-align: center;
    margin: 0 auto;
    height: 0px;
    width: 0px;
}

#dlmAppContainer.active
{
	text-align: center;
    margin: 0 auto;
    height: 54px;
    width: 460px;
}


#dlmAppContainer div#dlmApp
{
    display: inline-block;
    margin: 12px;
    width: 180px;
    float: left;
}
.cancel-btn-wrapper {
	float: left;
	margin: 12px;
}
#dlmAppContainer #cancelBtn 
{
    width: 200px;
}

#queueInstructions p 
{
    margin: 24px 60px 0 0;
    font-size: 1em;
    line-height: 1.2em;
}

#queueInstructions img#appIcon 
{
    float: left;
    margin: 0 20px;
}
