@media only screen and (min-width: $base-mobile-min-width) and (max-width: $base-mobile-max-width)  {
	#imageViewerProductDetails
	{
		max-width:290px;
	}
	#imageViewerProductDetails img
	{
		outline: 0;
		max-width: 100%;
		height: auto;
	}
}
	
