.validation-summary-errors {
  background-color: #8A0A0A;
  overflow-x: hidden;
  margin: 10px;
  float: none;
  display: block;
  clear: both;
  border-radius: 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  @media only screen and (min-width: $base-mobile-min-width) and (max-width: $base-mobile-max-width) {
	margin: 0;
	padding: 2px;
  }
  ul {
    margin: 2px 2px 2px 20px;
    padding: 0;
  }
  li {
    margin: 2px 0;
    padding: 0;
    width: 90%;
    word-wrap: break-word;
    font-size: 11px;
    color: #DBDBDB;
  }
}