.partcontent-uvregistrationform {  
    .uvregistrationform-uv-link-container {
        float: left;
        width: 100%;
        .uvregistrationform-header {
            border-bottom: 1px solid #CBCBCB;
            padding-bottom: 10px;
        }
        .uvregistrationform-uv-logo-container {
            float: right;
            margin-top: 10px;
        }
    }
    .uvregistrationform-acceptuvterms-label {
        color: #2a6496;
        font-weight: bold;
    }
}