<div class="asc-player-persistent-controller">
    <div class="asc-player-box asc-player-imageBox">
        <img class="asc-player-persistent-controller-video-image" />
    </div>
    <div class="asc-player-box asc-player-left">
        <h1 class="asc-player-persistentTitle"></h1>
        <h3 class="asc-player-persistentCastingTo"></h3>
    </div>
    <div class="asc-player-box asc-player-right">
        <a class="asc-player-persistentPlay" style="display:none;"><i class="fa fa-play"></i></a>
        <a class="asc-player-persistentPause" style="display:none;"><i class="fa fa-pause"></i></a>
        <a class="asc-player-persistentCastIconActive" style="display:none;"><img src="./Content/Assets/chromecast_connected.svg" /></a>
    </div>
</div>