@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face{ 
	font-family:'FontAwesome'; 
	src:local('../Fonts/font-awesome-4.0.0/fontawesome-webfont.eot') format('embedded-opentype'), // IE6-IE8 
	     local('../Fonts/font-awesome-4.0.0/fontawesome-webfont.woff') format('woff'), // Modern Browsers 
	     local('../Fonts/font-awesome-4.0.0/fontawesome-webfont.ttf')  format('truetype'), // Safari, Android, iOS 
	     local('../Fonts/font-awesome-4.0.0/fontawesome-webfont.svg') format('svg'); // Legacy 
}