
.partcontent-forgotpasswordform {
    .description  h2 {
        color:#696969;
        margin: 10px 0;
    }
}

.btn-action-container {
    a {
        float:right;
        margin-left: 10px;
    }

    a#backToLogin {
        background-color: #C5C9CC;
    }
    a#backToLogin:hover {
        background-color: #9EA0A3;
    }
}
