.productDetailsComponent .productImageContainer img {
    width: 150px;

    @media only screen and (min-width: $base-mobile-min-width) and (max-width: $base-mobile-max-width) {
		width: 100px;
		font-size: 0.8em;
    }
}
