.loadNextBatchContainer
{
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
    margin: 50px auto;
}    
.loadNextBatchContainer a
{
    display: inline-block;
    margin: 0 auto;
    width: 150px;
    padding: 15px;
}
    .loadNextBatchContainer a span
    {
        font-weight: bold;
    }